<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
  <appSettings>
    <add key="EncompassURL" value="http://localhost"/>
    <add key="UID" value="admin"/>
    <add key="PW" value="support"/>
    <add key="LOANGUID" value="{b8c581bf-dcaf-4965-98a8-cd3bf326c98d}"/>
  </appSettings>
</configuration>